<h2>Enter your ship here</h2>

<form action="/starships" method="post">
  <label for="name">Name:</label>
  <input
    type="text"
    name="name"
    id="name"
  />

  <label for="ship_class">Ship Class:</label>
  <input
    type="text"
    name="ship_class"
    id="ship_class"
  />

  <label for="location">Location:</label>
  <input
    type="text"
    name="location"
    id="location"
  />

  <input type="submit" value="Submit">
</form>
