<h2>Starship Show</h2>

<h4> <%= @starship.name %> </h4>
<p> <%= @starship.ship_class %> </p>
<p> <%= @starship.location %> </p>


<h1>New CrewMember Form</h1>

<form action="/starships/<%= @starship.id %>/crew_members" method="post">

</form>
