

<h3>Add a Crew Member</h3>

<div class="form">
    <form>
        <label for="first_name"> First Name: 
            <input type="text" id="first_name" name="first_name">
        </label>

        <label for="last_name"> Last Name: 
            <input type="text" id="last_name" name="last_name">
        </label>

        <label for="specialty_division"> Specialty: 
            <input type="text" id="specialty_division" name="specialty_division">
        </label>

        <input type="submit" value="Add Crew Member to Ship">
    </form>
</div>
