<h1> New Starship Creation  </h1>

<div class="form">
    <form>
        <label for="name"> Name: 
            <input type="text" name="name" id="id">
        </label>

        <label for="name"> Ship Class:
            <input type="text" name="ship_class" id="id">
        </label>

        <label for="name"> Location:
            <input type="text" name="location" id="id">
        </label>
        
        <input type="submit" value="Create New Ship">
    </form>
</div>
